<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/cabecalho.ejs") %>
    <link href="/css/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class= "container">
    <h3>Relatorio de disciplinas</h3>

    <table class="table">
    <tr>
        <th>Codigo</th>
        <th>Nome da disciplina</th>
        <th>Carga Horária</th>
        <th>Deletar</th>
    </tr>
    <% for (let i = 0; i < listad.length ; i++){ %>
           <% const disc = listad[i]; %>
            <tr>
                <td> <%= disc.codigod %> </td>
                <td> <%= disc.nd %> </td>
                <td> <%= disc.cargah %> </td>
                <td> <a href="/disc/<%= disc.codigod %>"> <button type="button" class="btn" style="color: black; background-color: lightblue;">Detalhes</button> </a> </td>
                <td> <a onclick = "return confirm (`confirme que quer deletar`)" href="/listar_dis/remover/<%= disc.codigod %>" type="button" class="btn btn-danger">Deletar</a> </td>
            </tr>
        <% } %>
    </table>
    <br>
    <a href="/"><button type="submit" class="btn" style="color: black; background-color: lightblue;">Voltar</button></a>
</div>
<footer>
    <%- include("../partials/rodape.ejs") %>
</footer>
</body>
</html>